@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
