@import url('./default.css');
@import url('./fonts.css');

body {
    background: #eeeeee;
    font-family: montserrat,  sans-serif;
    font-weight: 900;
    font-style: normal;
}

.container {
    width: 1000px;
    margin: 100px auto;
    background: white;
    padding: 70px 30px 70px 30px;
    border-radius: 10px;
    box-shadow: 0px 20px 10px #bbbbbb;
}

.header {
    margin: 20px auto 40px;
}

.header h1 {
    text-align: center;
}

.player__container {
    width:50%;
}

.player-name__container h2 {
    text-align: center;
}

.player-name {
    position: relative;
}

.turn-icon {
    position: absolute;
    top: 0;
    left: calc(100% + 20px);
    width: 30px;
    height: 30px;
    background: url("../assets/player-turn.svg");
}

.player__field {
    border: 1px solid #525252;
    margin: 0 auto;
    width: fit-content;
}

.field__row {
    width: fit-content;
}

.field__cell {
    border: 1px solid #525252;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.field__cell.empty {
    background: #8192fa;
}

.field__cell:hover {
    background: #daf1ff;
}

.field__cell.hit {
    background: #ffa2a2;
}

.notification-window__message__container {
    background: #fff;
    margin: 0 auto;
    width: 500px;
    padding: 70px 30px 70px 30px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
